<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header id="store">
    <h1 class="heading">LivingInStyle | Home Design</h1>
    <h1 class="connection">Connected as: <%= email %></h1>
    <link href="/homeStyle.css" rel="stylesheet" type="text/css">
    <form action="/logout" method="GET">
        <button>Logout</button>
    </form>
    <% if(email === "admin") { %>
        <a href="/admin" class="admin">ADMIN</a>
    <% } %>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <nav>
                    <ul>
                        <li><a href="/store" class="menu">HOME</a></li>
                        <li><a href="/top" class="menu">TOP 5</a></li>
                        <li><a href="/recommendation" class="menu">RECOMMENDATION</a></li>
                        <li><a href="/account" class="menu">ACCOUNT</a></li>
                        <li><a href="/giftcard" class="menu">GIFT CARD</a></li>
                        <li><a href="/contact" class="menu">CONTACT US</a></li>
                        <li><a href="/cart" class="menu">CART</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <h1 style="font-size: 40px;text-decoration: underline">SEND US A MESSAGE <i class="fa fa-envelope"></i></h1><br><br>
    <form onsubmit="return contactFunc();">
        <label for="fname">Full Name*</label><br>
        <input type="text" id="fname" placeholder="Your name.." required><br>

        <label for="country">Country*</label><br>
        <select id="country" name="country">
            <option value="israel">ISRAEL</option>
            <option value="usa">USA</option>
            <option value="canada">CANADA</option>
        </select><br><br>

        <label for="subject">Your message</label><br><br>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px" required></textarea><br>

        <input type="submit" value="Submit">
    </form>

    </div>
    <link href="/contact.css" rel="stylesheet" type="text/css">
</header>
<script src="contact.js"></script>
</body>
</html>