<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');
    </style>
</head>
<body>
<header id="showcase">
    <br>
    <br>
    <br>
    <h1>LivingInStyle</h1>
    <hr>
    <nav>
        <ul>
            <li>
                <br>
                <a href='/login' class="login">login</a>
            </li>
            <li>
                <br>
                <a href='/register' class="register">register</a>
            </li>
        </ul>
    </nav>
</header>

<link href="/landing.css" rel="stylesheet" type="text/css">

</body>
</html>
