* {
    margin:0;
    padding:0;
}
body{
    margin:0;
    font-family:'Chilanka', cursive;
    font-size:17px;
    color:white;
    line-height:1.6;
}

a:link, a:visited{
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#showcase{
    background-image:url('/login_register_img.jpg');
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding:0 20px;
}
#showcase h1{
    font-size:100px;
}
#showcase .login{
    font-size:18px;
    font-weight: bold;
    background-color: white;
    text-decoration:none;
    color:saddlebrown;
    border:white 1px solid;
    padding: 5px 5px;
    border-radius:10px;
}

#showcase .register{
    font-size:18px;
    font-weight: bold;
    background-color: white;
    text-decoration:none;
    color:saddlebrown;
    border:white 1px solid;
    padding: 5px 5px;
    border-radius:10px;
}

hr{
    padding:0 500px;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}


