<div class="header">
    <div class="container">
        <div class="navbar">
            <nav>
                <ul>
                    <li><a href="/store">HOME</a></li>
                    <li><a href="">SALE</a></li>
                    <li><a href="">RECOMMENDATION</a></li>
                    <li><a href="">ACCOUNT</a></li>
                    <li><a href="">GIFT CARD</a></li>
                    <li><a href="">CONTACT US</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
