* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    margin:0;
    font-family:'Chilanka', cursive;
    font-size:17px;
    font-weight: bold;
    line-height:1.6;
    text-align: center;
    text-decoration: none;
}

h1.heading{
    font-size:50px;
    text-align: center;
    background-color: black;
    color: white;
}
h1.connection{
    text-align: left;
    background-color: black;
    color: white;
    font-size:17px;
}
button, a.admin{
    font-family:'Chilanka', cursive;
    font-size:17px;
    font-weight: bold;
    line-height:1.6;
    color: black;
    text-decoration: none;
    float: left;
    margin-top: -70px;
    border:black 1px solid;
    padding: 3px 3px;
    border-radius:10px;
    background: white;
}
input[type=text], select, textarea {
    font-size: 20px;
    font-family:'Chilanka', cursive;
    width: 15%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: -130px;
    resize: vertical;
    float: left;
}

a.admin{
    margin-left: 80px;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: center;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    padding:10px 10px;
}

a.menu{
    text-decoration: none;
    color: black;
    margin-top: -100px;

}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}
.categories{
    margin: 70px 0;
}
.row{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col{
   display: inline-block;
    width: 20%;
}


.col img{
    width: 100%;
}

.cart{
    font-family:'Chilanka', cursive;
    font-size:17px;
    font-weight: bold;
    line-height:1.6;
    border:black 1px solid;
    padding: 2px 2px;
    border-radius:10px;
    background: white;

}


